*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.create__Collection {
    margin-top: 12%;
}

.create__Collection__title {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-bottom: 50px;
    align-items: center;
}

.create__Collection__title h1 {
    font-weight: bold;
}

.create__Collection__btn {
    border-radius: 25px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(255, 194, 102);
    color: white;
    padding: 20px;
    font-size: 20px;
}


/* Khúc này dùng chung templet từ index nên copy qua */
.main__3__collection__img {
    justify-items: center;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    display: grid;
    grid-template-areas:
      "aa bb cc"
      "aa ee cc"
      "dd ee ff";
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    /* phần dưới này để cho cuộn khi màn hình nhỏ */
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Cuộn mượt trên iOS */
  }
  
  .main__3__collection__img__item__1 {
    grid-area: aa;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .main__3__collection__img__item__2 {
    grid-area: bb;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .main__3__collection__img__item__3 {
    grid-area: cc;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .main__3__collection__img__item__4 {
    grid-area: dd;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .main__3__collection__img__item__5 {
    grid-area: ee;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .main__3__collection__img__item__6 {
    grid-area: ff;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .main__3__collection__img img {
    border-radius: 10px;
    width: 10%;
    height: 100%;
    object-fit: cover;
    /* css phần dưới này dùng để cuộn khi màn hình nhỏ */
    min-width: 250px; /* điều chỉnh theo nhu cầu */
    flex-shrink: 1;
    cursor: pointer;
  }

  .main__3__collection__img__item__1:hover,
  .main__3__collection__img__item__2:hover,
  .main__3__collection__img__item__3:hover,
  .main__3__collection__img__item__4:hover,
  .main__3__collection__img__item__5:hover,
  .main__3__collection__img__item__6:hover {
    box-shadow: none;
    background-color: #f9f9f9;

  }